# dependencies
node_modules/

# production build
.next/
out/
dist/
build/

# local env
.env.local
.env.*.local

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# system files
.DS_Store
Thumbs.db

# vercel
.vercel/
